* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: auto;

  .hidden {
    height: 550px;
    width: 89px;
    display: none;
  }

  .active {
    display: block;
  }

  .wrapper {
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     left: 43.5%;
     bottom: 8px;
     transform: translateX(-50%);
    .image  {
      width: 50%!important;
      height: 550px!important;
      img {
        width: 20%!important;
        height: 100%!important;
      }
      .hidden {
        display: none;
      }
    }

    .image:nth-child(1) {
      position: relative;
      left: 190px;
    }
    .image:nth-child(2) {
      position: relative;
      left: 270px;
    }
    .image:nth-child(3) {
      position: relative;
      left: 380px;
    }
    .activeFirst {
      width: 40px;
	    height: 40px;
	    position: absolute;
	    top: 200px;
	    left: 50%;
	    margin: -20px;
	    font-size: 100px;
      animation: moveRight 2s!important;
    }
    .activeLast {
      width: 40px;
	    height: 40px;
	    position: absolute;
	    top: 200px;
	    left: 50%;
	    margin: -20px;
	    font-size: 100px;
      animation: moveLeft 2s!important;
    }
  }
  .direct-link-container {
    .direct-link-wrapper {
      position:absolute;
      bottom: 0;

      display: flex;
      .circle {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 2px;
      }
    }
  }
  .footer {
    width: 1344px;
    img {
      width: 100%;
    }
  }
}

//@keyframes circle {
//    from {
//      transform: translateX(0%);
//    }
//    to {
//      transform: translateX(100%);
//    }
//}

//@keyframes circle {
//  from {
//  		transform: rotate(-45deg)
//  		           translate(-150px)
//  		           rotate(-45deg);
//  	}
//  	to {
//  		transform: rotate(0deg)
//  		           translate(-150px)
//  		           rotate(0deg);
//  	}
//}

@keyframes moveLeft {
  0% {
  transform: translateX(0) translateY(0);
  }

  25% {
  transform: translateX(-125px) translateY(125px);
  }

  50% {
  transform: translateX(-250px) translateY(250px);
  }

  75% {
  transform: translateX(-375px) translateY(125);
  }

  100% {
  transform: translateX(-500px) translateY(0);

  }
}


  @keyframes moveRight {
    0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(125px) translateY(-125px);
  }

  50% {
    transform: translateX(250px) translateY(-250px);
  }

  75% {
    transform: translateX(375px) translateY(-125);
  }

  100% {
    transform: translateX(500px) translateY(0);

  }
}
