* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: auto;
  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 43.5%;
    bottom: 8px;
    transform: translateX(-50%);
    .image  {
      width: 50%!important;
      height: 550px!important;
      img {
        width: 20%!important;
        height: 100%!important;
      }
    }

    .image:nth-child(1) {
      position: relative;
      right: 250px;
    }
    .image:nth-child(2) {
      position: relative;
      left: 275px;
    }
    .image:nth-child(3) {
      position: relative;
      left: 375px;
    }
    .active {
      display: block;
      width: 5.7%;
      animation: circle 1s;
      transform-origin: 0px 700px;
      animation-fill-mode: forwards;
      animation-direction: alternate;
    }

  }
  .direct-link-container {
    .direct-link-wrapper {
      position:absolute;
      bottom: 0;

      display: flex;
      .circle {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 2px;
      }
    }
  }
  .footer {
    width: 1344px;
    img {
      width: 100%;
    }
  }
}

@keyframes circle {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
}

//@keyframes circle {
//    from {
//      transform:rotate(-22deg);
//    }
//    to {
//      transform:rotate(0deg);
//    }
//}

//@keyframes circle {
//  0% {
//    transform: translate(500px,-250px) scaleX(0.10) scaleY(0.10) ;
//  } 100% {
//    transform: translate(0px,0px) scaleX(1.00) scaleY(1.00) ;
//  }
//}
//
