* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: auto;

  .hidden {
    height: 550px;
    width: 89px;
    display: none;
  }

  .active {
    display: block;
  }

  .wrapper {
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     left: 43.5%;
     bottom: 8px;
     transform: translateX(-50%);
    .image  {
      width: 50%!important;
      height: 550px!important;
      img {
        width: 40%!important;
        height: 100%!important;
      }
      .hidden {
        display: none;
      }
    }

    .image:nth-child(1) {
      position: relative;
      left: 120px;
      bottom: 70px;
    }
    .image:nth-child(2) {
      position: relative;
      left: 225px;
      bottom: 95px;
    }
    .image:nth-child(3) {
      position: relative;
      left: 330px;
      bottom: 90px;
    }
    .activeFirst {
      width: 40px;
	    height: 40px;
	    position: absolute;
	    top: 200px;
	    left: 50%;
	    margin: -20px;
	    font-size: 100px;
      animation: moveRight 3s!important;
    }
    .activeLast {
      width: 40px;
	    height: 40px;
	    position: absolute;
	    top: 200px;
	    left: 50%;
	    margin: -20px;
	    font-size: 100px;
      animation: moveLeft 1s!important;
    }
  }
  .direct-link-container {
    .direct-link-wrapper {
      position:absolute;
      bottom: 0;

      display: flex;
      .circle {
        height: 15px;
        width: 15px;
        border: 2px solid black;
        border-radius: 50%;
        margin: 2px;
      }
    }
  }
  .footer {
    width: 1344px;
    img {
      width: 100%;
    }
  }
}

//@keyframes circle {
//    from {
//      transform: translateX(0%);
//    }
//    to {
//      transform: translateX(100%);
//    }
//}

//@keyframes circle {
//  from {
//  		transform: rotate(-45deg)
//  		           translate(-150px)
//  		           rotate(-45deg);
//  	}
//  	to {
//  		transform: rotate(0deg)
//  		           translate(-150px)
//  		           rotate(0deg);
//  	}
//}

@keyframes moveLeft {
  0% {
  transform: translateX(0) translateY(0);
  }

  25% {
  transform: translateX(-125px) translateY(125px);
  }

  50% {
  transform: translateX(-250px) translateY(250px);
  }

  75% {
  transform: translateX(-375px) translateY(125);
  }

  100% {
  transform: translateX(-500px) translateY(0);

  }
}


  @keyframes moveRight {
    0% {
        transform: translateX(0) translateY(0);
      }
      1% {
        transform: translateX(1px) translateY(calc(-1/500px));
      }
      2% {
        transform: translateX(2px) translateY(calc(-2/500px));
      }
      3% {
        transform: translateX(3px) translateY(calc(-3/500px));
      }
      4% {
        transform: translateX(4px) translateY(calc(-4/500px));
      }
      5% {
        transform: translateX(5px) translateY(calc(-5/100px));
      }
      6% {
        transform: translateX(6px) translateY(calc(-6/100px));
      }
      7% {
        transform: translateX(7px) translateY(calc(-7/100px));
      }
      8% {
        transform: translateX(8px) translateY(calc(-8/100px));
      }
      9% {
        transform: translateX(9px) translateY(calc(-9/100px));
      }
      10% {
        transform: translateX(10px) translateY(calc(-10/100px));
      }
      11% {
        transform: translateX(11px) translateY(calc(-11/100px));
      }
      12% {
        transform: translateX(12px) translateY(calc(-12/100px));
      }
      13% {
        transform: translateX(13px) translateY(calc(-13/100px));
      }
      14% {
        transform: translateX(14px) translateY(calc(14/100px));
      }
      15% {
        transform: translateX(15px) translateY(calc(-15/100px));
      }
      16% {
        transform: translateX(16px) translateY(calc(-16/100px));
      }
      17% {
        transform: translateX(17px) translateY(calc(-17/100px));
      }
      18% {
        transform: translateX(18px) translateY(calc(-18/100px));
      }
      19% {
        transform: translateX(19px) translateY(calc(-19/100px));
      }
      20% {
        transform: translateX(20px) translateY(calc(-20/100px));
      }
      21% {
        transform: translateX(21px) translateY(calc(-21/100px));
      }
      22% {
        transform: translateX(22px) translateY(calc(-22/100px));
      }
      23% {
        transform: translateX(23px) translateY(calc(-23/100px));
      }
      24% {
        transform: translateX(24px) translateY(calc(-24/100px));
      }
      25% {
        transform: translateX(25px) translateY(calc(-25/100px));
      }
      26% {
        transform: translateX(26px) translateY(calc(-26/100px));
      }
      27% {
        transform: translateX(27px) translateY(calc(-27/100px));
      }
      28% {
        transform: translateX(28px) translateY(calc(-28/100px));
      }
      29% {
        transform: translateX(29px) translateY(calc(-29/100px));
      }
      30% {
        transform: translateX(30px) translateY(calc(-30/100px));
      }
      31% {
        transform: translateX(31px) translateY(calc(-31/100px));
      }
      32% {
        transform: translateX(32px) translateY(calc(-32/100px));
      }
      33% {
        transform: translateX(33px) translateY(calc(-33/100px));
      }
      34% {
        transform: translateX(34px) translateY(calc(-34/100px));
      }
      35% {
        transform: translateX(35px) translateY(calc(-35/100px));
      }
      36% {
        transform: translateX(36px) translateY(calc(-36/100px));
      }
      37% {
        transform: translateX(37px) translateY(calc(-37/100px));
      }
      38% {
        transform: translateX(38px) translateY(calc(-38/100px));
      }
      39% {
        transform: translateX(39px) translateY(calc(-39/100px));
      }
      40% {
        transform: translateX(40px) translateY(calc(-40/100px));
      }
      41% {
        transform: translateX(41px) translateY(calc(-41/100px));
      }
      42% {
        transform: translateX(42px) translateY(calc(-42/100px));
      }
      43% {
        transform: translateX(43px) translateY(calc(-43/100px));
      }

      44% {
        transform: translateX(44px) translateY(calc(-44/100px));
      }

      45% {
        transform: translateX(45px) translateY(calc(-45/100px));
      }

      46% {
        transform: translateX(46px) translateY(calc(-46/100px));
      }
      47% {
        transform: translateX(47px) translateY(calc(-47/100px));
      }
      48% {
        transform: translateX(48px) translateY(calc(-48/100px));
      }
      49% {
        transform: translateX(49px) translateY(calc(-49/100px));
      }
      50% {
        transform: translateX(50px) translateY(calc(-50/100px));
      }
      51% {
        transform: translateX(51px) translateY(calc(-51/100px));
      }
      52% {
        transform: translateX(52px) translateY(calc(-52/100px));
      }
      53% {
        transform: translateX(53px) translateY(calc(-53/100px));
      }

      54% {
        transform: translateX(54px) translateY(calc(-54/100px));
      }
      55% {
        transform: translateX(55px) translateY(calc(-55/100px));
      }
      56% {
        transform: translateX(56px) translateY(calc(-56/100px));
      }
      57% {
        transform: translateX(57px) translateY(calc(-57/100px));
      }
      58% {
        transform: translateX(58px) translateY(calc(-58/100px));
      }
      59% {
        transform: translateX(59px) translateY(calc(-59/100px));
      }
      60% {
        transform: translateX(60px) translateY(calc(-60/100px));
      }
      61% {
        transform: translateX(61px) translateY(calc(-61/100px));
      }
      62% {
        transform: translateX(62px) translateY(calc(-62/100px));
      }
      63% {
        transform: translateX(63px) translateY(calc(-63/100px));
      }
      64% {
        transform: translateX(64px) translateY(calc(-64/100px));
      }
      65% {
        transform: translateX(65px) translateY(calc(-65/100px));
      }
      66% {
        transform: translateX(66px) translateY(calc(-66/100px));
      }
      67% {
        transform: translateX(67px) translateY(calc(-67/100px));
      }
      68% {
        transform: translateX(68px) translateY(calc(-68/100px));
      }
      69% {
        transform: translateX(69px) translateY(calc(-69/100px));
      }
      70% {
        transform: translateX(70px) translateY(calc(-70/100px));
      }
      71% {
        transform: translateX(71px) translateY(calc(-71/100px));
      }
      72% {
        transform: translateX(72px) translateY(calc(-72/100px));
      }
      73% {
        transform: translateX(73px) translateY(calc(-73/100px));
      }
      74% {
        transform: translateX(74px) translateY(calc(-74/100px));
      }
      75% {
        transform: translateX(75px) translateY(calc(-75/100px));
      }
      76% {
        transform: translateX(76px) translateY(calc(-76/100px));
      }
      77% {
        transform: translateX(77px) translateY(calc(-77/100px));
      }
      78% {
        transform: translateX(78px) translateY(calc(-78/100px));
      }
      79% {
        transform: translateX(79px) translateY(calc(-79/100px));
      }
      80% {
        transform: translateX(80px) translateY(calc(-80/100px));
      }
      81% {
        transform: translateX(81px) translateY(calc(-81/100px));
      }
      82% {
        transform: translateX(82px) translateY(calc(-82/100px));
      }
      83% {
        transform: translateX(83px) translateY(calc(-83/100px));
      }
      84% {
        transform: translateX(84px) translateY(calc(-84/100px));
      }
      85% {
        transform: translateX(85px) translateY(calc(-85/100px));
      }
      86% {
        transform: translateX(86px) translateY(calc(-86/100px));
      }
      87% {
        transform: translateX(87px) translateY(calc(-87/100px));
      }
      88% {
        transform: translateX(88px) translateY(calc(-88/100px));
      }
      89% {
        transform: translateX(89px) translateY(calc(-89/100px));
      }
      90% {
        transform: translateX(90px) translateY(calc(-90/100px));
      }
      91% {
        transform: tra93lateX(91px) translateY(calc(-91/100px));
      }

      92% {
        transform: translateX(92px) translateY(calc(-92/100px));
      }

      93% {
        transform: translateX(93px) translateY(calc(-93/100px));
      }

      94% {
        transform: translateX(94px) translateY(calc(-94/100px));
      }
      95% {
        transform: translateX(95px) translateY(calc(-95/100px));
      }
      96% {
        transform: translateX(96px) translateY(calc(-96/100px));
      }
      97% {
        transform: translateX(97px) translateY(calc(-97/100px));
      }
      98% {
        transform: translateX(98px) translateY(calc(-98/100px));
      }
      99% {
        transform: translateX(99px) translateY(calc(-99/100px));
      }
      100% {
        transform: translateX(100px) translateY(calc(-100/100px));
      }

      101% {
        transform: translateX(101px) translateY(calc(-101/100px));
      }
      102% {
        transform: translateX(102px) translateY((calc(-102/100px)));
      }
      103% {
        transform: translateX(103px) translateY(calc(-103/100px));
      }
      104% {
        transform: translateX(104px) translateY(calc(-104/100px));
      }
      105% {
        transform: translateX(105px) translateY(calc(-105/100px));
      }
      106% {
        transform: translateX(106px) translateY(calc(-106/100px));
      }
      107% {
        transform: translateX(107px) translateY(calc(-107/100px));
      }
      108% {
        transform: translateX(108px) translateY(calc(-108/100px));
      }
      109% {
        transform: translateX(109px) translateY(calc(-109/100px));
      }
      110% {
        transform: translateX(110px) translateY(calc(-110/100px));
      }
      111% {
        transform: translateX(111px) translateY(calc(-111/100px));
      }
      112% {
        transform: translateX(112px) translateY(calc(-112/100px));
      }
      113% {
        transform: translateX(113px) translateY(calc(-113/100px));
      }
      114% {
        transform: translateX(114px) translateY(calc(-114/100px));
      }
      115% {
        transform: translateX(115px) translateY(calc(-115/100px));
      }
      116% {
        transform: translateX(116px) translateY(calc(-116/100px));
      }
      117% {
        transform: translateX(117px) translateY(calc(-117/100px));
      }
      118% {
        transform: translateX(118px) translateY(calc(-118/100px));
      }
      119% {
        transform: translateX(119px) translateY(calc(-119/100px));
      }
      120% {
        transform: translateX(120px) translateY(calc(-120/100px));
      }
      121% {
        transform: translateX(121px) translateY(calc(-121/100px));
      }
      122% {
        transform: translateX(122px) translateY(calc(-122/100px));
      }
      123% {
        transform: translateX(123px) translateY(calc(-123/100px));
      }
      124% {
        transform: translateX(124px) translateY(calc(-124/100px));
      }
      125% {
        transform: translateX(125px) translateY(calc(-125/100px));
      }
      126% {
        transform: translateX(126px) translateY(calc(-126/100px));
      }
      127% {
        transform: translateX(127px) translateY(calc(-127/100px));
      }
      128% {
        transform: translateX(128px) translateY(calc(-128/100px));
      }
      129% {
        transform: translateX(129px) translateY(calc(-129/100px));
      }
      130% {
        transform: translateX(130px) translateY(calc(-130/100px));
      }
      131% {
        transform: translateX(131px) translateY(calc(-131/100px));
      }
      132% {
        transform: translateX(132px) translateY(calc(-132/100px));
      }
      133% {
        transform: translateX(133px) translateY(calc(-133/100px));
      }
      134% {
        transform: translateX(134px) translateY(calc(-134/100px));
      }
      135% {
        transform: translateX(135px) translateY(calc(-135/100px));
      }
      136% {
        transform: translateX(136px) translateY(calc(-136/100px));
      }
      137% {
        transform: translateX(137px) translateY(calc(-137/100px));
      }
      138% {
        transform: translateX(138px) translateY(calc(-138/100px));
      }
      139% {
        transform: translateX(139px) translateY(calc(-139/100px));
      }
      140% {
        transform: translateX(140px) translateY(calc(-140/100px));
      }
      141% {
        transform: translateX(141px) translateY(calc(-141/100px));
      }
      142% {
        transform: translateX(142px) translateY(calc(-142/100px));
      }
      143% {
        transform: translateX(143px) translateY(calc(-143/100px));
      }
      144% {
        transform: translateX(144px) translateY(calc(-144/100px));
      }

      145% {
        transform: translateX(145px) translateY(calc(-145/100px));
      }

      146% {
        transform: translateX(146px) translateY(calc(-146/100px));
      }

      147% {
        transform: translateX(147px) translateY(calc(-147/100px));
      }
      148% {
        transform: translateX(148px) translateY(calc(-148/100px));
      }
      149% {
        transform: translateX(149px) translateY(calc(-149/100px));
      }
      150% {
        transform: translateX(150px) translateY(calc(-150/100px));
      }
      151% {
        transform: translateX(151px) translateY(calc(-151/100px));
      }
      152% {
        transform: translateX(152px) translateY(calc(-152/100px));
      }
      153% {
        transform: translateX(153px) translateY(calc(-153/100px));
      }
      154% {
        transform: translateX(154px) translateY(calc(-154/100px));
      }

      155% {
        transform: translateX(155px) translateY(calc(-155/100px));
      }
      156% {
        transform: translateX(156px) translateY(calc(-156/100px));
      }
      157% {
        transform: translateX(157px) translateY(calc(-157/100px));
      }
      158% {
        transform: translateX(158px) translateY(calc(-158/100px));
      }
      159% {
        transform: translateX(159px) translateY(calc(-159/100px));
      }
      160% {
        transform: translateX(160px) translateY(calc(-160/100px));
      }
      161% {
        transform: translateX(161px) translateY(calc(-161/100px));
      }
      162% {
        transform: translateX(162px) translateY(calc(-162/100px));
      }
      163% {
        transform: translateX(163px) translateY(calc(-163/100px));
      }
      164% {
        transform: translateX(164px) translateY(calc(-164/100px));
      }
      165% {
        transform: translateX(165px) translateY(calc(-165/100px));
      }
      166% {
        transform: translateX(166px) translateY(calc(-166/100px));
      }
      167% {
        transform: translateX(167px) translateY(calc(-167/100px));
      }
      168% {
        transform: translateX(168px) translateY(calc(-168/100px));
      }
      169% {
        transform: translateX(169px) translateY(calc(-169/100px));
      }
      170% {
        transform: translateX(171px) translateY(calc(-170/100px));
      }
      171% {
        transform: translateX(171px) translateY(calc(-171/100px));
      }
      172% {
        transform: translateX(172px) translateY(calc(-172/100px));
      }
      173% {
        transform: translateX(173px) translateY(calc(-173/100px));
      }
      174% {
        transform: translateX(174px) translateY(calc(-174/100px));
      }
      175% {
        transform: translateX(175px) translateY(calc(-175/100px));
      }
      176% {
        transform: translateX(176px) translateY(calc(-176/100px));
      }
      177% {
        transform: translateX(177px) translateY(calc(-177/100px));
      }
      178% {
        transform: translateX(178px) translateY(calc(-178/100px));
      }
      179% {
        transform: translateX(179px) translateY(calc(-179/100px));
      }
      180% {
        transform: translateX(180px) translateY(calc(-180/100px));
      }
      181% {
        transform: translateX(181px) translateY(calc(-181/100px));
      }
      182% {
        transform: translateX(182px) translateY(calc(-182/100px));
      }
      183% {
        transform: translateX(183px) translateY(calc(-183/100px));
      }
      184% {
        transform: translateX(184px) translateY(calc(-184/100px));
      }
      185% {
        transform: translateX(185px) translateY(calc(-185/100px));
      }
      186% {
        transform: translateX(186px) translateY(calc(-186/100px));
      }
      187% {
        transform: translateX(187px) translateY(calc(-187/100px));
      }
      188% {
        transform: translateX(188px) translateY(calc(-188/100px));
      }
      189% {
        transform: translateX(189px) translateY(calc(-189/100px));
      }
      190% {
        transform: translateX(190px) translateY(calc(-190/100px));
      }
      191% {
        transform: translateX(191px) translateY(calc(-191/100px));
      }
      192% {
        transform: translateX(192px) translateY(calc(-192/100px));
      }

      193% {
        transform: translateX(193px) translateY(calc(-193/100px));
      }

      194% {
        transform: translateX(194px) translateY(calc(-194/100px));
      }

      195% {
        transform: translateX(195px) translateY(calc(-195/100px));
      }
      196% {
        transform: translateX(196px) translateY(calc(-196/100px));
      }
      197% {
        transform: translateX(197px) translateY(calc(-197/100px));
      }
      198% {
        transform: translateX(198px) translateY(calc(-198/100px));
      }
      199% {
        transform: translateX(199px) translateY(calc(-199/100px));
      }
      200% {
        transform: translateX(200px) translateY(calc(-200/100px));
      }
      201% {
        transform: translateX(201px) translateY(calc(-201/100px));
      }

      202% {
        transform: translateX(202) translateY(calc(-202/100px));
      }
      203% {
        transform: translateX(203px) translateY(calc(-203/100px));
      }
      204% {
        transform: translateX(204px) translateY(calc(-204/100px));
      }
      205% {
        transform: translateX(205px) translateY(calc(-205/100px));
      }
      206% {
        transform: translateX(206px) translateY(calc(-206/100px));
      }
      207% {
        transform: translateX(207px) translateY(calc(-207/100px));
      }
      208% {
        transform: translateX(208px) translateY(calc(-208/100px));
      }
      209% {
        transform: translateX(209px) translateY(calc(-209/100px));
      }
      210% {
        transform: translateX(210px) translateY(calc(-210/100px));
      }
      211% {
        transform: translateX(211px) translateY(calc(-211/100px));
      }
      212% {
        transform: translateX(212px) translateY(calc(-212/100px));
      }
      213% {
        transform: translateX(213px) translateY(calc(-213/100px));
      }
      214% {
        transform: translateX(214px) translateY(calc(-214/100px));
      }
      215% {
        transform: translateX(215px) translateY(calc(-215/100px));
      }
      216% {
        transform: translateX(216px) translateY(calc(-216/100px));
      }
      217% {
        transform: translateX(217px) translateY(calc(-217/100px));
      }
      218% {
        transform: translateX(218px) translateY(calc(-218/100px));
      }
      219% {
        transform: translateX(219px) translateY(calc(-219/100px));
      }
      220% {
        transform: translateX(220px) translateY(calc(-220/100px));
      }
      221% {
        transform: translateX(221px) translateY(calc(-221/100px));
      }
      222% {
        transform: translateX(222px) translateY(calc(-222/100px));
      }
      223% {
        transform: translateX(223px) translateY(calc(-223/100px));
      }
      224% {
        transform: translateX(224px) translateY(calc(-224/100px));
      }
      225% {
        transform: translateX(225px) translateY(calc(-225/100px));
      }
      226% {
        transform: translateX(226px) translateY(calc(-226/100px));
      }
      227% {
        transform: translateX(227px) translateY(calc(-227/100px));
      }
      228% {
        transform: translateX(228px) translateY(calc(-228/100px));
      }
      229% {
        transform: translateX(229px) translateY(calc(-229/100px));
      }
      230% {
        transform: translateX(230px) translateY(calc(-230/100px));
      }
      231% {
        transform: translateX(231px) translateY(calc(-231/100px));
      }
      232% {
        transform: translateX(232px) translateY(calc(-232/100px));
      }
      233% {
        transform: translateX(233px) translateY(calc(-233/100px));
      }
      234% {
        transform: translateX(234px) translateY(calc(-234/100px));
      }
      235% {
        transform: translateX(235px) translateY(calc(-235/100px));
      }
      236% {
        transform: translateX(236px) translateY(calc(-236/100px));
      }
      237% {
        transform: translateX(237px) translateY(calc(-237/100px));
      }
      238% {
        transform: translateX(238px) translateY(calc(-238/100px));
      }
      239% {
        transform: translateX(239px) translateY(calc(-239/100px));
      }
      240% {
        transform: translateX(240px) translateY(calc(-240/100px));
      }
      241% {
        transform: translateX(241px) translateY(calc(-241/100px));
      }
      242% {
        transform: translateX(242px) translateY(calc(-242/100px));
      }
      243% {
        transform: translateX(243px) translateY(calc(-243/100px));
      }
      244% {
        transform: translateX(244px) translateY(calc(-244/100px));
      }
      245% {
        transform: translateX(245px) translateY(calc(-245/100px));
      }

      246% {
        transform: translateX(246px) translateY(calc(-246/100px));
      }

      247% {
        transform: translateX(247px) translateY(calc(-247/100px));
      }

      248% {
        transform: translateX(248px) translateY(calc(-248/100px));
      }
      249% {
        transform: translateX(249px) translateY(calc(-249/100px));
      }
      250% {
        transform: translateX(250px) translateY(calc(-250/100px));
      }
      251% {
        transform: translateX(251px) translateY(calc(-249/100px));
      }
      252% {
        transform: translateX(252px) translateY(calc(-248/100px));
      }
      253% {
        transform: translateX(253px) translateY(calc(-247/100px));
      }
      254% {
        transform: translateX(254px) translateY(calc(-246/100px));
      }
      255% {
        transform: translateX(255px) translateY(calc(-245/100px));
      }

      256% {
        transform: translateX(256px) translateY(calc(-244/100px));
      }
      257% {
        transform: translateX(257px) translateY(calc(-243/100px));
      }
      258% {
        transform: translateX(258px) translateY(calc(-242/100px));
      }
      259% {
        transform: translateX(259px) translateY(calc(-241/100px));
      }
      260% {
        transform: translateX(260px) translateY(calc(-240/100px));
      }
      261% {
        transform: translateX(261px) translateY(calc(-239/100px));
      }
      262% {
        transform: translateX(262px) translateY(calc(-238/100px));
      }
      263% {
        transform: translateX(263px) translateY(calc(-237/100px));
      }
      264% {
        transform: translateX(264px) translateY(calc(-236/100px));
      }
      265% {
        transform: translateX(265px) translateY(calc(-235/100px));
      }
      266% {
        transform: translateX(266px) translateY(calc(-234/100px));
      }
      267% {
        transform: translateX(267px) translateY(calc(-233/100px));
      }
      268% {
        transform: translateX(268px) translateY(calc(-232/100px));
      }
      269% {
        transform: translateX(269px) translateY(calc(-231/100px));
      }
      270% {
        transform: translateX(270px) translateY(calc(-230/100px));
      }
      271% {
        transform: translateX(271px) translateY(calc(-229/100px));
      }
      272% {
        transform: translateX(272px) translateY(calc(-228/100px));
      }
      273% {
        transform: translateX(273px) translateY(calc(-227/100px));
      }
      274% {
        transform: translateX(274px) translateY(calc(-226/100px));
      }
      275% {
        transform: translateX(275px) translateY(calc(-225/100px));
      }
      276% {
        transform: translateX(276px) translateY(calc(-224/100px));
      }
      277% {
        transform: translateX(277px) translateY(calc(-223/100px));
      }
      278% {
        transform: translateX(278px) translateY(calc(-222/100px));
      }
      279% {
        transform: translateX(279px) translateY(calc(-221/100px));
      }
      280% {
        transform: translateX(280px) translateY(calc(-220/100px));
      }
      281% {
        transform: translateX(281px) translateY(calc(-219/100px));
      }
      282% {
        transform: translateX(282px) translateY(calc(-218/100px));
      }
      283% {
        transform: translateX(283px) translateY(calc(-217/100px));
      }
      284% {
        transform: translateX(284px) translateY(calc(-216/100px));
      }
      285% {
        transform: translateX(285px) translateY(calc(-215/100px));
      }
      286% {
        transform: translateX(286px) translateY(calc(-214/100px));
      }
      287% {
        transform: translateX(287px) translateY(calc(-213/100px));
      }
      288% {
        transform: translateX(288px) translateY(calc(-212/100px));
      }
      289% {
        transform: translateX(289px) translateY(calc(-211/100px));
      }
      290% {
        transform: translateX(290px) translateY(calc(-210/100px));
      }
      291% {
        transform: translateX(291px) translateY(calc(-209/100px));
      }
      292% {
        transform: translateX(292px) translateY(calc(-208/100px));
      }
      293% {
        transform: translateX(293px) translateY(calc(-207/100px));
      }

      294% {
        transform: translateX(294px) translateY(calc(-206/100px));
      }

      295% {
        transform: translateX(295px) translateY(calc(-205/100px));
      }

      296% {
        transform: translateX(296px) translateY(calc(-204/100px));
      }
      297% {
        transform: translateX(297px) translateY(calc(-203/100px));
      }
      298% {
        transform: translateX(298px) translateY(calc(-202/100px));
      }
      299% {
        transform: translateX(299px) translateY(calc(-201/100px));
      }
      300% {
        transform: translateX(300px) translateY(calc(-200/100px));
      }
      301% {
        transform: translateX(301px) translateY(calc(-199/100px));
      }
      302% {
        transform: translateX(302px) translateY(calc(-198/100px));
      }

      303% {
        transform: translateX(303px) translateY(calc(-197/100px));
      }
      304% {
        transform: translateX(304px) translateY(calc(-196/100px));
      }
      305% {
        transform: translateX(305px) translateY(calc(-195/100px));
      }
      306% {
        transform: translateX(306px) translateY(calc(-194/100px));
      }
      307% {
        transform: translateX(307px) translateY(calc(-193/100px));
      }
      308% {
        transform: translateX(308px) translateY(calc(-192/100px));
      }
      309% {
        transform: translateX(309px) translateY(calc(-191/100px));
      }
      310% {
        transform: translateX(310px) translateY(calc(-190/100px));
      }
      311% {
        transform: translateX(311px) translateY(calc(-189/100px));
      }
      312% {
        transform: translateX(312px) translateY(calc(-188/100px));
      }
      313% {
        transform: translateX(313px) translateY(calc(-187/100px));
      }
      314% {
        transform: translateX(314px) translateY(calc(-186/100px));
      }
      315% {
        transform: translateX(315px) translateY(calc(-185/100px));
      }
      316% {
        transform: translateX(316px) translateY(calc(-184/100px));
      }
      317% {
        transform: translateX(317px) translateY(calc(-183/100px));
      }
      318% {
        transform: translateX(318px) translateY(calc(-182/100px));
      }
      319% {
        transform: translateX(319px) translateY(calc(-181/100px));
      }
      320% {
        transform: translateX(320px) translateY(calc(-180/100px));
      }
      321% {
        transform: translateX(321px) translateY(calc(-179/100px));
      }
      322% {
        transform: translateX(322px) translateY(calc(-178/100px));
      }
      323% {
        transform: translateX(323px) translateY(calc(-177/100px));
      }
      324% {
        transform: translateX(324px) translateY(calc(-176/100px));
      }
      325% {
        transform: translateX(325px) translateY(calc(-175/100px));
      }
      326% {
        transform: translateX(326px) translateY(calc(-174/100px));
      }
      327% {
        transform: translateX(327px) translateY(calc(-173/100px));
      }
      328% {
        transform: translateX(328px) translateY(calc(-172/100px));
      }
      329% {
        transform: translateX(329px) translateY(calc(-171/100px));
      }
      330% {
        transform: translateX(330px) translateY(calc(-170/100px));
      }
      331% {
        transform: translateX(331px) translateY(calc(-169/100px));
      }
      332% {
        transform: translateX(332px) translateY(calc(-168/100px));
      }
      333% {
        transform: translateX(333px) translateY(calc(-167/100px));
      }
      334% {
        transform: translateX(334px) translateY(calc(-166/100px));
      }
      335% {
        transform: translateX(335px) translateY(calc(-165/100px));
      }
      336% {
        transform: translateX(336px) translateY(calc(-164/100px));
      }
      337% {
        transform: translateX(337px) translateY(calc(-163/100px));
      }
      338% {
        transform: translateX(338px) translateY(calc(-162/100px));
      }
      339% {
        transform: translateX(339px) translateY(calc(-161/100px));
      }
      340% {
        transform: translateX(340px) translateY(calc(-160/100px));
      }
      341% {
        transform: translateX(341px) translateY(calc(-159/100px));
      }
      342% {
        transform: translateX(342px) translateY(calc(-158/100px));
      }
      343% {
        transform: translateX(343px) translateY(calc(-157/100px));
      }
      344% {
        transform: translateX(344px) translateY(calc(-156/100px));
      }
      345% {
        transform: translateX(345px) translateY(calc(-155/100px));
      }
      346% {
        transform: translateX(346px) translateY(calc(-154/100px));
      }

      347% {
        transform: translateX(347px) translateY(calc(-153/100px));
      }

      348% {
        transform: translateX(348px) translateY(calc(-152/100px));
      }

      349% {
        transform: translateX(349px) translateY(calc(-151/100px));
      }
      350% {
        transform: translateX(350px) translateY(calc(-150/100px));
      }
      351% {
        transform: translateX(351px) translateY(calc(-149/100px));
      }
      352% {
        transform: translateX(352px) translateY(calc(-148/100px));
      }
      353% {
        transform: translateX(353px) translateY(calc(-147/100px));
      }
      354% {
        transform: translateX(354px) translateY(calc(-146/100px));
      }
      355% {
        transform: translateX(355px) translateY(calc(-145/100px));
      }
      356% {
        transform: translateX(356px) translateY(calc(-144/100px));
      }

      357% {
        transform: translateX(357) translateY(calc(-143/100px));
      }
      358% {
        transform: translateX(358px) translateY(calc(-142/100px));
      }
      359% {
        transform: translateX(359px) translateY(calc(-141/100px));
      }
      360% {
        transform: translateX(360px) translateY(calc(-140/100px));
      }
      361% {
        transform: translateX(361px) translateY(calc(-139/100px));
      }
      362% {
        transform: translateX(362px) translateY(calc(-138/100px));
      }
      363% {
        transform: translateX(363px) translateY(calc(-137/100px));
      }
      364% {
        transform: translateX(364px) translateY(calc(-136/100px));
      }
      365% {
        transform: translateX(365px) translateY(calc(-135/100px));
      }
      366% {
        transform: translateX(366px) translateY(calc(-134/100px));
      }
      367% {
        transform: translateX(367px) translateY(calc(-133/100px));
      }
      368% {
        transform: translateX(368px) translateY(calc(-132/100px));
      }
      369% {
        transform: translateX(369px) translateY(calc(-131/100px));
      }
      370% {
        transform: translateX(370px) translateY(calc(-130/100px));
      }
      371% {
        transform: translateX(371px) translateY(calc(-129/100px));
      }
      372% {
        transform: translateX(372px) translateY(calc(-128/100px));
      }
      373% {
        transform: translateX(373px) translateY(calc(-127/100px));
      }
      374% {
        transform: translateX(374px) translateY(calc(-126/100px));
      }
      375% {
        transform: translateX(375px) translateY(calc(-125/100px));
      }
      376% {
        transform: translateX(376px) translateY(calc(-124/100px));
      }
      377% {
        transform: translateX(377px) translateY(calc(-123/100px));
      }
      378% {
        transform: translateX(378px) translateY(calc(-122/100px));
      }
      379% {
        transform: translateX(379px) translateY(calc(-121/100px));
      }
      380% {
        transform: translateX(380px) translateY(calc(-120/100px));
      }
      381% {
        transform: translateX(381px) translateY(calc(-119/100px));
      }
      382% {
        transform: translateX(382px) translateY(calc(-118/100px));
      }
      383% {
        transform: translateX(383px) translateY(calc(-117/100px));
      }
      384% {
        transform: translateX(384px) translateY(calc(-116/100px));
      }
      385% {
        transform: translateX(385px) translateY(calc(-115/100px));
      }
      386% {
        transform: translateX(386px) translateY(calc(-114/100px));
      }
      387% {
        transform: translateX(387px) translateY(calc(-113/100px));
      }
      388% {
        transform: translateX(388px) translateY(calc(-112/100px));
      }
      389% {
        transform: translateX(389px) translateY(calc(-111/100px));
      }
      390% {
        transform: translateX(390px) translateY(calc(-110/100px));
      }
      391% {
        transform: translateX(391px) translateY(calc(-109/100px));
      }
      392% {
        transform: translateX(392px) translateY(calc(-108/100px));
      }
      393% {
        transform: translateX(393px) translateY(calc(-107/100px));
      }
      394% {
        transform: translateX(394px) translateY(calc(-106/100px));
      }

      395% {
        transform: translateX(395px) translateY(calc(-105/100px));
      }

      396% {
        transform: translateX(396px) translateY(calc(-104/100px));
      }

      397% {
        transform: translateX(397px) translateY(calc(-103/100px));
      }
      398% {
        transform: translateX(398px) translateY(calc(-102/100px));
      }
      399% {
        transform: translateX(399px) translateY(calc(-101/100px));
      }
      400% {
        transform: translateX(400px) translateY(calc(-100/100px));
      }
      401% {
        transform: translateX(401px) translateY(calc(-99/100px));
      }
      402% {
        transform: translateX(402px) translateY(calc(-98/100px));
      }
      403% {
        transform: translateX(403px) translateY(calc(-97/100px));
      }

      404% {
        transform: translateX(404px) translateY(calc(-96/100px));
      }
      405% {
        transform: translateX(405px) translateY(calc(-95/100px));
      }
      406% {
        transform: translateX(406px) translateY(calc(-94/100px));
      }
      407% {
        transform: translateX(407px) translateY(calc(-93/100px));
      }
      408% {
        transform: translateX(408px) translateY(calc(-92/100px));
      }
      409% {
        transform: translateX(409px) translateY(calc(-91/100px));
      }
     410% {
        transform: translateX(410px) translateY(calc(-90/100px));
      }
      411% {
        transform: translateX(411px) translateY(calc(-89/100px));
      }
      412% {
        transform: translateX(412px) translateY(calc(-88/100px));
      }
      413% {
        transform: translateX(413px) translateY(calc(-87/100px));
      }
      414% {
        transform: translateX(414px) translateY(calc(-86/100px));
      }
      415% {
        transform: translateX(415px) translateY(calc(-85/100px));
      }
      416% {
        transform: translateX(416px) translateY(calc(-84/100px));
      }
      417% {
        transform: translateX(417px) translateY(calc(-83/100px));
      }
      418% {
        transform: translateX(418px) translateY(calc(-82/100px));
      }
      419% {
        transform: translateX(419px) translateY(calc(-81/100px));
      }
      420% {
        transform: translateX(420px) translateY(calc(-80/100px));
      }
      421% {
        transform: translateX(421px) translateY(calc(-79/100px));
      }
      422% {
        transform: translateX(422px) translateY(calc(-78/100px));
      }
      423% {
        transform: translateX(423px) translateY(calc(-77/100px));
      }
      424% {
        transform: translateX(424px) translateY(calc(-76/100px));
      }
      425% {
        transform: translateX(425px) translateY(calc(-75/100px));
      }
      426% {
        transform: translateX(426px) translateY(calc(-74/100px));
      }
      427% {
        transform: translateX(427px) translateY(calc(-73/100px));
      }
      428% {
        transform: translateX(428px) translateY(calc(-72/100px));
      }
      429% {
        transform: translateX(429px) translateY(calc(-71/100px));
      }
      430% {
        transform: translateX(430px) translateY(calc(-70/100px));
      }
      431% {
        transform: translateX(431px) translateY(calc(-69/100px));
      }
      432% {
        transform: translateX(432px) translateY(calc(-68/100px));
      }
      433% {
        transform: translateX(433px) translateY(calc(-67/100px));
      }
      434% {
        transform: translateX(434px) translateY(calc(-66/100px));
      }
      435% {
        transform: translateX(435px) translateY(calc(-65/100px));
      }
      436% {
        transform: translateX(436px) translateY(calc(-64/100px));
      }
      437% {
        transform: translateX(437px) translateY(calc(-63/100px));
      }
      438% {
        transform: translateX(438px) translateY(calc(-62/100px));
      }
      439% {
        transform: translateX(439px) translateY(calc(-61/100px));
      }
      440% {
        transform: translateX(440px) translateY(calc(-60/100px));
      }
      441% {
        transform: translateX(441px) translateY(calc(-59/100px));
      }
      442% {
        transform: translateX(442px) translateY(calc(-58/100px));
      }
      443% {
        transform: translateX(443px) translateY(calc(-57/100px));
      }
      444% {
        transform: translateX(444px) translateY(calc(-56/100px));
      }
      445% {
        transform: translateX(445px) translateY(calc(-55/100px));
      }
      446% {
        transform: translateX(446px) translateY(calc(-54/100px));
      }
      447% {
        transform: translateX(447px) translateY(calc(-53/100px));
      }

      448% {
        transform: translateX(448px) translateY(calc(-52/100px));
      }

      449% {
        transform: translateX(449px) translateY(calc(-51/100px));
      }

      450% {
        transform: translateX(450px) translateY(calc(-50/100px));
      }
      451% {
        transform: translateX(451px) translateY(calc(-49/100px));
      }
      451% {
        transform: translateX(452px) translateY(calc(-48/100px));
      }
      452% {
        transform: translateX(453px) translateY(calc(-47/100px));
      }
      453% {
        transform: translateX(454px) translateY(calc(-46/100px));
      }
      454% {
        transform: translateX(455px) translateY(calc(-45/100px));
      }
      455% {
        transform: translateX(456px) translateY(calc(-44/100px));
      }
      456% {
        transform: translateX(457px) translateY(calc(-43/100px));
      }

      457% {
        transform: translateX(458px) translateY(calc(-42/100px));
      }
      458% {
        transform: translateX(459px) translateY(calc(-41/100px));
      }
      459% {
        transform: translateX(460px) translateY(calc(-40/100px));
      }
      460% {
        transform: translateX(461px) translateY(calc(-39/100px));
      }
      461% {
        transform: translateX(462px) translateY(calc(-38/100px));
      }
      462% {
        transform: translateX(463px) translateY(calc(-37/100px));
      }
      463% {
        transform: translateX(464px) translateY(calc(-36/100px));
      }
      464% {
        transform: translateX(465px) translateY(calc(-35/100px));
      }
      465% {
        transform: translateX(466px) translateY(calc(-34/100px));
      }
      466% {
        transform: translateX(467px) translateY(calc(-33/100px));
      }
      467% {
        transform: translateX(468px) translateY(calc(-32/100px));
      }
      468% {
        transform: translateX(469px) translateY(calc(-31/100px));
      }
      469% {
        transform: translateX(470px) translateY(calc(-30/100px));
      }
      470% {
        transform: translateX(471px) translateY(calc(-29/100px));
      }
      471% {
        transform: translateX(472px) translateY(calc(-28/100px));
      }
      472% {
        transform: translateX(473px) translateY(calc(-27/100px));
      }
      473% {
        transform: translateX(474px) translateY(calc(-26/100px));
      }
      474% {
        transform: translateX(475px) translateY(calc(-25/100px));
      }
      475% {
        transform: translateX(476px) translateY(calc(-24/100px));
      }
      476% {
        transform: translateX(477px) translateY(calc(-23/100px));
      }
      477% {
        transform: translateX(478px) translateY(calc(-22/100px));
      }
      478% {
        transform: translateX(479px) translateY(calc(-21/100px));
      }
      479% {
        transform: translateX(480px) translateY(calc(-20/100px));
      }
      480% {
        transform: translateX(481px) translateY(calc(-19/100px));
      }
      481% {
        transform: translateX(482px) translateY(calc(-18/100px));
      }
      482% {
        transform: translateX(483px) translateY(calc(-17/100px));
      }
      483% {
        transform: translateX(484px) translateY(calc(-16/100px));
      }
      484% {
        transform: translateX(485px) translateY(calc(-15/100px));
      }
      485% {
        transform: translateX(486px) translateY(calc(-14/100px));
      }
      486% {
        transform: translateX(487px) translateY(calc(-13/100px));
      }
      487% {
        transform: translateX(488px) translateY(calc(-12/100px));
      }
      488% {
        transform: translateX(489px) translateY(calc(-11/100px));
      }
      489% {
        transform: translateX(490px) translateY(calc(-10/100px));
      }
      490% {
        transform: translateX(491px) translateY(calc(-9/100px));
      }
      491% {
        transform: translateX(492px) translateY(calc(-8/100px));
      }
      492% {
        transform: translateX(493px) translateY(calc(-7/100px));
      }
      493% {
        transform: translateX(494px) translateY(calc(-6/100px));
      }
      494% {
        transform: translateX(495px) translateY(calc(-5/100px));
      }

      495% {
        transform: translateX(496px) translateY(calc(-4/100px));
      }

      496% {
        transform: translateX(497px) translateY(calc(-3/100px));
      }

      497% {
        transform: translateX(498px) translateY(calc(-2/100px));
      }
      498% {
        transform: translateX(499px) translateY(calc(-1/100px));
      }
      499% {
        transform: translateX(500px) translateY(calc(0/100px));
      }






}
